body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-67px;
  width:1341px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:704px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:55px;
  width:1341px;
  height:704px;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:716px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:823px;
  width:1138px;
  height:716px;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
