body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:1111px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:402px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:29px;
  width:1111px;
  height:402px;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
