body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-183px;
  width:1081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:493px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:146px;
  width:472px;
  height:493px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:466px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:146px;
  width:448px;
  height:466px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
