body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:1110px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2031 {
  position:absolute;
  left:25px;
  top:31px;
  width:422px;
  height:829px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:346px;
  top:113px;
  width:1px;
  height:16px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2035 {
  position:absolute;
  left:46px;
  top:99px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2036 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2037 {
  position:absolute;
  left:46px;
  top:99px;
  width:375px;
  height:20px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2039 {
  position:absolute;
  left:46px;
  top:162px;
  width:375px;
  height:1px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2041 {
  position:absolute;
  left:217px;
  top:132px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u2043 {
  position:absolute;
  left:63px;
  top:130px;
  width:12px;
  height:21px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:90px;
  top:689px;
  width:300px;
  height:40px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2047 {
  position:absolute;
  left:57px;
  top:181px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2049 {
  position:absolute;
  left:65px;
  top:335px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2051 {
  position:absolute;
  left:361px;
  top:333px;
  width:10px;
  height:10px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2053 {
  position:absolute;
  left:376px;
  top:336px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2055 {
  position:absolute;
  left:306px;
  top:336px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2057 {
  position:absolute;
  left:315px;
  top:183px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2059 {
  position:absolute;
  left:376px;
  top:181px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:80px;
}
#u2061 {
  position:absolute;
  left:61px;
  top:224px;
  width:335px;
  height:79px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:32px;
  width:331px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:80px;
}
#u2063 {
  position:absolute;
  left:61px;
  top:384px;
  width:335px;
  height:79px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:32px;
  width:331px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:80px;
}
#u2065 {
  position:absolute;
  left:61px;
  top:495px;
  width:335px;
  height:79px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:32px;
  width:331px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2067 {
  position:absolute;
  left:713px;
  top:31px;
  width:422px;
  height:829px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u2069 {
  position:absolute;
  left:1034px;
  top:113px;
  width:1px;
  height:16px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2071 {
  position:absolute;
  left:734px;
  top:99px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2072 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2073 {
  position:absolute;
  left:734px;
  top:99px;
  width:375px;
  height:20px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2075 {
  position:absolute;
  left:734px;
  top:162px;
  width:375px;
  height:1px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2077 {
  position:absolute;
  left:905px;
  top:132px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u2079 {
  position:absolute;
  left:751px;
  top:130px;
  width:12px;
  height:21px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:785px;
  top:238px;
  width:300px;
  height:40px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2083 {
  position:absolute;
  left:447px;
  top:446px;
  width:0px;
  height:0px;
}
#u2083_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:270px;
  height:8px;
}
#u2083_seg1 {
  position:absolute;
  left:253px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2084 {
  position:absolute;
  left:83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
