body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:551px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:92px;
  width:1200px;
  height:551px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:17px;
  width:209px;
  height:45px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:26px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:726px;
  width:741px;
  height:70px;
  color:#000000;
  text-align:center;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:731px;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:463px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:163px;
  width:350px;
  height:463px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:163px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#000000;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:163px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:208px;
  width:350px;
  height:1px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:252px;
  width:283px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:300px;
  width:283px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:475px;
  width:283px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:279px;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:219px;
  width:113px;
  height:20px;
  color:#FF0000;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:351px;
  width:283px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:402px;
  width:283px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:441px;
  width:283px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u619_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:563px;
  width:50px;
  height:50px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:563px;
  width:50px;
  height:50px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:2px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:543px;
  width:277px;
  height:1px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:533px;
  width:103px;
  height:20px;
  color:#666666;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
