body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-88px;
  width:614px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:330px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:59px;
  width:614px;
  height:330px;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
