body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-37px;
  width:1352px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u878 {
  position:absolute;
  left:117px;
  top:63px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:60px;
  top:63px;
  width:9px;
  height:25px;
}
#u881 {
  position:absolute;
  left:2px;
  top:4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:70px;
  top:63px;
  width:37px;
  height:25px;
}
#u883 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:137px;
}
#u884 {
  position:absolute;
  left:149px;
  top:121px;
  width:340px;
  height:137px;
}
#u885 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u886 {
  position:absolute;
  left:115px;
  top:338px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:58px;
  top:338px;
  width:9px;
  height:25px;
}
#u889 {
  position:absolute;
  left:2px;
  top:4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:68px;
  top:338px;
  width:37px;
  height:25px;
}
#u891 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:396px;
}
#u892 {
  position:absolute;
  left:37px;
  top:407px;
  width:485px;
  height:396px;
}
#u893 {
  position:absolute;
  left:2px;
  top:190px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u894 {
  position:absolute;
  left:939px;
  top:338px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:882px;
  top:338px;
  width:9px;
  height:25px;
}
#u897 {
  position:absolute;
  left:2px;
  top:4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:892px;
  top:338px;
  width:37px;
  height:25px;
}
#u899 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u900 {
  position:absolute;
  left:917px;
  top:821px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#E4393C;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:860px;
  top:821px;
  width:9px;
  height:25px;
}
#u903 {
  position:absolute;
  left:2px;
  top:4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:870px;
  top:821px;
  width:37px;
  height:25px;
}
#u905 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:182px;
}
#u906 {
  position:absolute;
  left:882px;
  top:407px;
  width:441px;
  height:182px;
}
#u907 {
  position:absolute;
  left:2px;
  top:83px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u908 {
  position:absolute;
  left:1019px;
  top:824px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:860px;
  top:925px;
  width:529px;
  height:94px;
}
#u911 {
  position:absolute;
  left:2px;
  top:39px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:16px;
}
#u912 {
  position:absolute;
  left:917px;
  top:964px;
  width:415px;
  height:16px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u914 {
  position:absolute;
  left:89px;
  top:88px;
  width:0px;
  height:0px;
}
#u914_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:236px;
}
#u914_seg1 {
  position:absolute;
  left:-6px;
  top:228px;
  width:10px;
  height:8px;
}
#u914_seg2 {
  position:absolute;
  left:-6px;
  top:228px;
  width:8px;
  height:22px;
}
#u914_seg3 {
  position:absolute;
  left:-12px;
  top:237px;
  width:20px;
  height:20px;
}
#u915 {
  position:absolute;
  left:-50px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:188px;
  top:350px;
  width:0px;
  height:0px;
}
#u916_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:686px;
  height:8px;
}
#u916_seg1 {
  position:absolute;
  left:678px;
  top:-4px;
  width:8px;
  height:9px;
}
#u916_seg2 {
  position:absolute;
  left:678px;
  top:-3px;
  width:16px;
  height:8px;
}
#u916_seg3 {
  position:absolute;
  left:681px;
  top:-9px;
  width:20px;
  height:20px;
}
#u917 {
  position:absolute;
  left:298px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918 {
  position:absolute;
  left:188px;
  top:350px;
  width:0px;
  height:0px;
}
#u918_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:479px;
  height:8px;
}
#u918_seg1 {
  position:absolute;
  left:471px;
  top:-4px;
  width:8px;
  height:492px;
}
#u918_seg2 {
  position:absolute;
  left:471px;
  top:480px;
  width:211px;
  height:8px;
}
#u918_seg3 {
  position:absolute;
  left:669px;
  top:474px;
  width:20px;
  height:20px;
}
#u919 {
  position:absolute;
  left:425px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
