body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1841px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:551px;
}
#u1151 {
  position:absolute;
  left:100px;
  top:92px;
  width:1200px;
  height:551px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:268px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u1153 {
  position:absolute;
  left:100px;
  top:17px;
  width:209px;
  height:45px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:14px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1155 {
  position:absolute;
  left:331px;
  top:26px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:32px;
}
#u1157 {
  position:absolute;
  left:362px;
  top:672px;
  width:741px;
  height:32px;
  color:#000000;
  text-align:center;
}
#u1158 {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:407px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  position:absolute;
  left:950px;
  top:163px;
  width:350px;
  height:407px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:196px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1161 {
  position:absolute;
  left:950px;
  top:163px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u1162 {
  position:absolute;
  left:0px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1163 {
  position:absolute;
  left:1125px;
  top:163px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#000000;
}
#u1164 {
  position:absolute;
  left:0px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1165 {
  position:absolute;
  left:950px;
  top:208px;
  width:350px;
  height:1px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1167 {
  position:absolute;
  left:1000px;
  top:252px;
  width:283px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1168 {
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1169 {
  position:absolute;
  left:1000px;
  top:316px;
  width:283px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1170 {
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4393C;
}
#u1171 {
  position:absolute;
  left:998px;
  top:372px;
  width:113px;
  height:20px;
  color:#E4393C;
}
#u1172 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1173 {
  position:absolute;
  left:1060px;
  top:509px;
  width:50px;
  height:50px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1175 {
  position:absolute;
  left:1152px;
  top:509px;
  width:50px;
  height:50px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:2px;
}
#u1177 {
  position:absolute;
  left:1000px;
  top:478px;
  width:277px;
  height:1px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1179 {
  position:absolute;
  left:1080px;
  top:468px;
  width:103px;
  height:20px;
  color:#666666;
}
#u1180 {
  position:absolute;
  left:2px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
}
#u1181 {
  position:absolute;
  left:1000px;
  top:418px;
  width:283px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1182 {
  position:absolute;
  left:2px;
  top:8px;
  width:279px;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4393C;
}
#u1183 {
  position:absolute;
  left:1215px;
  top:372px;
  width:64px;
  height:20px;
  color:#E4393C;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:407px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  position:absolute;
  left:1401px;
  top:703px;
  width:350px;
  height:407px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:196px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1187 {
  position:absolute;
  left:1401px;
  top:703px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u1188 {
  position:absolute;
  left:0px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1189 {
  position:absolute;
  left:1576px;
  top:703px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#000000;
}
#u1190 {
  position:absolute;
  left:0px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1191 {
  position:absolute;
  left:1401px;
  top:748px;
  width:350px;
  height:1px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1193 {
  position:absolute;
  left:1451px;
  top:792px;
  width:283px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1194 {
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1195 {
  position:absolute;
  left:1451px;
  top:856px;
  width:161px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1196 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4393C;
}
#u1197 {
  position:absolute;
  left:1450px;
  top:912px;
  width:127px;
  height:20px;
  color:#E4393C;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1199 {
  position:absolute;
  left:1511px;
  top:1049px;
  width:50px;
  height:50px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1201 {
  position:absolute;
  left:1603px;
  top:1049px;
  width:50px;
  height:50px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:2px;
}
#u1203 {
  position:absolute;
  left:1451px;
  top:1018px;
  width:277px;
  height:1px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1205 {
  position:absolute;
  left:1531px;
  top:1008px;
  width:103px;
  height:20px;
  color:#666666;
}
#u1206 {
  position:absolute;
  left:2px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
}
#u1207 {
  position:absolute;
  left:1451px;
  top:958px;
  width:283px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1208 {
  position:absolute;
  left:2px;
  top:8px;
  width:279px;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4393C;
}
#u1209 {
  position:absolute;
  left:1666px;
  top:912px;
  width:64px;
  height:20px;
  color:#E4393C;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1211 {
  position:absolute;
  left:1632px;
  top:856px;
  width:79px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1212 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1213 {
  position:absolute;
  left:1441px;
  top:102px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1215 {
  position:absolute;
  left:1391px;
  top:92px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1216 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1217 {
  position:absolute;
  left:1441px;
  top:293px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1219 {
  position:absolute;
  left:1391px;
  top:283px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1220 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF5A99;
}
#u1221 {
  position:absolute;
  left:1441px;
  top:502px;
  width:145px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF5A99;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1223 {
  position:absolute;
  left:1391px;
  top:492px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF5A99;
}
#u1224 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1225 {
  position:absolute;
  left:1451px;
  top:1158px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1227 {
  position:absolute;
  left:1401px;
  top:1148px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1228 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1229 {
  position:absolute;
  left:1232px;
  top:237px;
  width:30px;
  height:30px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1231 {
  position:absolute;
  left:1232px;
  top:316px;
  width:30px;
  height:30px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:1441px;
  top:150px;
  width:500px;
  height:76px;
}
#u1234 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  position:absolute;
  left:1433px;
  top:344px;
  width:500px;
  height:87px;
}
#u1236 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1237 {
  position:absolute;
  left:1441px;
  top:542px;
  width:500px;
  height:116px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1238 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1239 {
  position:absolute;
  left:1111px;
  top:367px;
  width:30px;
  height:30px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1241 {
  position:absolute;
  left:1279px;
  top:367px;
  width:30px;
  height:30px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1243 {
  position:absolute;
  left:1232px;
  top:421px;
  width:30px;
  height:30px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1245 {
  position:absolute;
  left:1212px;
  top:519px;
  width:30px;
  height:30px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1247 {
  position:absolute;
  left:1441px;
  top:1225px;
  width:500px;
  height:62px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1248 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1249 {
  position:absolute;
  left:1451px;
  top:1362px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1251 {
  position:absolute;
  left:1401px;
  top:1352px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1252 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1253 {
  position:absolute;
  left:1441px;
  top:1429px;
  width:500px;
  height:62px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1254 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1255 {
  position:absolute;
  left:1451px;
  top:1567px;
  width:127px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1257 {
  position:absolute;
  left:1401px;
  top:1557px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1258 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1259 {
  position:absolute;
  left:1441px;
  top:1626px;
  width:500px;
  height:62px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1260 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
