body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-85px;
  width:1190px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:956px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:15px;
  width:1130px;
  height:956px;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:590px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1042px;
  width:1190px;
  height:590px;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
