body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-190px;
  width:1640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:344px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:20px;
  width:1048px;
  height:344px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:619px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:391px;
  width:1048px;
  height:619px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:61px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:415px;
  width:924px;
  height:61px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:479px;
  width:263px;
  height:30px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:253px;
  white-space:nowrap;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:509px;
  width:81px;
  height:30px;
  color:#FF0000;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:362px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:92px;
  width:460px;
  height:362px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:184px;
  width:283px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:248px;
  width:161px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 57, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:248px;
  width:79px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:322px;
  width:300px;
  height:38px;
  color:#FFFFFF;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:107px;
  width:25px;
  height:19px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:119px;
  width:300px;
  height:50px;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:290px;
  word-wrap:break-word;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:409px;
  width:288px;
  height:34px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1079px;
  width:545px;
  height:316px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:1158px;
  width:67px;
  height:30px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1158px;
  width:210px;
  height:30px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:1205px;
  width:67px;
  height:30px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u1012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1205px;
  width:77px;
  height:30px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1205px;
  width:77px;
  height:30px;
  color:#FFFFFF;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1284px;
  width:77px;
  height:30px;
  color:#FFFFFF;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:1284px;
  width:39px;
  height:30px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:1080px;
  width:543px;
  height:42px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:539px;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:1086px;
  width:20px;
  height:30px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:10px;
  white-space:nowrap;
}
