body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:1452px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1452px;
  height:959px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:74px;
  width:1452px;
  height:959px;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
