body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-63px;
  width:1849px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:954px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:33px;
  width:1820px;
  height:954px;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:809px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1005px;
  width:857px;
  height:809px;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:641px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1877px;
  width:1218px;
  height:641px;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
