body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-203px;
  width:1085px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:820px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:31px;
  width:1053px;
  height:820px;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:730px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:963px;
  width:771px;
  height:730px;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:718px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:1797px;
  width:905px;
  height:718px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
