body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-66px;
  width:1761px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:769px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:39px;
  width:1761px;
  height:769px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
